<h3 id="rol">{{rol}}</h3>
<h3 id="email">{{email}}</h3>


<h2>Productos</h2>
<div id="contenedorProductos"></div>
<div id="pagination"></div>


<h2>Crear producto</h2>

     <form id="form" method="POST">
        <div>
            <label for="title">Nombre:</label>
            <input type="text" id="title" name="title" required>
        </div>
        <br>
        <div>
            <label for="description">Descripción:</label>
            <input type="text" id="description" name="description" required>
        </div>
        <br>
        <div>
            <label for="code">Código:</label>
            <input type="text" id="code" name="code" required>
        </div>
        <br>
        <div>
            <label for="price">Precio:</label>
            <input type="number" id="price" name="price" required>
        </div>
        <br>
        <div>
            <label for="stock">Stock:</label>
            <input type="number" id="stock" name="stock" required>
        </div>
        <input type="text" id="img" value="Sin Imagen">
        <br>
        <div>
            <label for="category">Categoría:</label>
            <input type="text" id="category" name="category" required>
        </div>
        <select id="status">
        <option value="true"> Activo </option>
        <option value="false"> Inactivo </option>
    </select>
        <br>
        <div>
            <button type="submit" id="btnEnviar">Crear</button>
        </div>
    </form>
    </br>


<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
<script src="../js/realtimeproducts.js"></script>

